# If this is your first time writing a language grammar, check out:
#   - http://manual.macromates.com/en/language_grammars

'scopeName': 'source.please-language'
'name': 'Please BUILD'
'fileTypes': [
  'BUILD'
]
'patterns': [
  {
    'match': '^\\s*#.*$'
    'name': 'comment'
  }
  {
    include: '#string'
  }
]
repository:
  string:
    patterns: [
      {
        match: '(\")([^\"]*)(\")'
        captures:
          1: name: 'string.double.begin'
          2:
            name: 'string.quoted.double'
            patterns: [
              {
                include: '#target'
              }
            ]
          3: name: 'string.double.end'
      }
      {
        match: '(\')([^\']*)(\')'
        captures:
          1: name: 'string.single.begin'
          2:
            name: 'string.quoted.single'
            patterns: [
              {
                include: '#target'
              }
            ]
          3: name: 'string.single.end'
      }
    ]

  target: {
    name: 'plztarget'
    match: '(\/(?:\/[\-\\w\.\_]*)*){0,1}:([\-\\w\.\_]+)'
    captures:
      1: name: 'plztarget.path'
      2: name: 'storage.plztarget.name'
  }
